@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
$font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

// Basic Colors
$color-page-background: black
$color-primary-background: lighten(rgb(37, 40, 48), 10%)
$color-highlight: #2a2a2a
$color-box-shadow: #c2c2c2
$color-success: #23c6c8
$color-info:  #1c84c6
$color-warning: #f8ac59
$color-danger: #ED5565

$color-text-default: #676a6c
$color-text-default: #f8d641
$color-background-wrapper: #f3f3f4

$color-raised-background: lighten($color-page-background, 30%)

$color-text-label: #D1DADE
$label-badget-color: #5E5E5E
$light-blue: #f3f6fb

$spin-color: $color-primary-background
$spin-margin: 0 auto

$color-ibox-border: #e7eaec
$color-ibox-title-background: #ffffff
$color-ibox-content-background: #ffffff

$color-navigation-background: #2F4050
$color-navigation-header: lighten($color-navigation-background, 20%)
$color-navigation-text: #a7b1c2
$color-navigation-text-muted: #8095a8
$color-dashboard-background: rgb(37, 40, 48)
$color-dashboard-text: white

$color-timeline-icon-background: #f8f8f8
$color-timeline-icon-background: red
$danger-color: #ea4059

$dashboard-title-color: yellow
$warning-color: #e8d74f

@mixin widget-colors
  background-color: $color-primary-background
  color: $color-text-default

@mixin primary-colors
  background-color: $color-primary-background
  color: #FFFFFF

@mixin success-colors
  background-color: $color-success
  color: #FFFFFF

@mixin warning-colors
  background-color: $color-warning
  color: #FFFFFF

@mixin danger-colors
  background-color: $color-danger
  color: #FFFFFF

@mixin info-colors
  background-color: $color-info
  color: #FFFFFF

@mixin light-warning-colors
  background-color: $color-warning
  color: #ffffff


//Sidebar width
$sidebar-width: 220px

// Boxed layout width
$boxed-width: 1200px
$boxed-background: url('patterns/shattered.png')

//Border radius for buttons
$btn-border-radius: 3px

//Sidebar width
$sidebar-width: 220px

// Boxed layout width
$boxed-width: 1200px
$boxed-background: url('patterns/shattered.png')

//Border radius for buttons
$btn-border-radius: 3px


@import "typography"
@import "navigation"
@import "top_navigation"
@import "buttons"
@import "badgets_labels"
@import "elements"
@import "sidebar"
@import "base"
@import "pages"
@import "chart"

// Stick main content higher to the top
.top-navigation
  .wrapper.wrapper-content
    padding: 0 0 40px
  .nav > li.active
    background: transparent



// Clear layout on print mode
@media print
  nav.navbar-static-side
    display: none

  body
    overflow: visible !important

  #page-wrapper
    margin: 0

.dashboard
  background-color: $color-dashboard-background
  .dashboard-title
    border-top: 0
    padding: 15px 20px
    border-bottom: 1px solid darken($color-dashboard-text, 10%)
    h1
      color: yellow
    p
      color: yellow

.text-green
  color: #00ca92

.text-danger
  color: $danger-color

.text-warning
  color: $warning-color

.chart-legend
  list-style-type: none
  margin-top: 5px
  text-align: center
  li
    display: inline-block
    white-space: nowrap
    position: relative
    margin-bottom: 4px
    border-radius: 5px
    padding: 2px 8px 2px 28px
    font-size: smaller
    cursor: default
    span
      display: block
    position: absolute
    left: 0
    top: 0
    width: 20px
    height: 20px
    border-radius: 5px



.activity-stream
  @include widget
  .ibox
    .ibox-title
      color: $dashboard-title-color

.stream
  position: relative
  padding: 10px 0

  &:first-child .stream-badge:before
    top: 10px

  &:last-child .stream-badge:before
    height: 30px

  .stream-badge
    width: 50px

    i
      border: 1px solid $color-ibox-border
      border-radius: 50%
      padding: 6px
      color: lighten($color-text-default, 10%)
      position: absolute
      background-color: #ffffff
      left: 8px

      &.fa-circle
        color: lighten($color-text-default, 40%)

      &.bg-success
        color: #ffffff
        background-color: $color-success
        border-color: $color-success

      &.bg-primary
        color: #ffffff
        background-color: $color-primary-background
        border-color: $color-primary-background

      &.bg-warning
        color: #ffffff
        background-color: $color-warning
        border-color: $color-warning

      &.bg-info
        color: #ffffff
        background-color: $color-info
        border-color: $color-info

      &.bg-danger
        color: #ffffff
        background-color: $color-danger
        border-color: $color-danger

    &:before
      content: ''
      width: 1px
      background-color: $color-ibox-border
      position: absolute
      top: 0
      bottom: 0
      left: 20px

  .stream-info
    font-size: 12px
    margin-bottom: 5px

    img
      border-radius: 50%
      width: 18px
      height: 18px
      margin-right: 2px
      margin-top: -4px

    .date
      color: lighten($color-text-default, 20%)
      font-size: 80%

  .stream-panel
    margin-left: 55px

.stream-small
  margin: 10px 0

  .label
    padding: 2px 6px
    margin-right: 2px

.muted
  font-weight: 100

.manifest-panel
  canvas
    height: 300px

.snapshot
  font-size: 10px
  pre code
    font-family: monospace
    font-size: 9px

.file-change-list li
  font-family: monospace
  //padding: 5px 10px
  font-size: 9px
