@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
$font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$mono-font-stack: Menlo, Monaco, monospace

@import tomorrow_night_bright
// Basic Colors
$color-page-background: $color-background
$color-primary-background: $color-highlight
$color-box-shadow: #c2c2c2
$color-success: $color-green
$color-info: $color-blue
$color-warning: $color-yellow
$color-danger: $color-red

$color-text-default: $color-foreground
$color-text-highlight: lighten($color-text-default, 20%)
$color-background-wrapper: #f3f3f4

$color-raised-background: lighten($color-page-background, 30%)

$color-text-label: #D1DADE
$label-badget-color: #5E5E5E
$light-blue: #f3f6fb

$spin-color: $color-primary-background
$spin-margin: 0 auto

$color-ibox-border: lighten($color-highlight, 7%)

$color-navigation-background: $color-page-background
$color-navigation-header: lighten($color-navigation-background, 20%)
$color-navigation-text: #a7b1c2
$color-navigation-text-muted: #8095a8
$color-dashboard-background: rgb(37, 40, 48)
$color-dashboard-text: $color-text-default

$dashboard-title-color: $color-yellow

@mixin widget
  border-radius: 5px
  padding: 15px 20px
  margin-bottom: 10px
  margin-top: 10px
  background-color: $color-primary-background
  color: $color-dashboard-text
  border: 1px solid lighten($color-primary-background, 15%)

@mixin widget-colors
  background-color: $color-primary-background
  color: $color-text-default

@mixin primary-colors
  background-color: $color-primary-background
  color: $color-text-default

@mixin success-colors
  background-color: $color-success
  color: $color-background

@mixin warning-colors
  background-color: $color-warning
  color: $color-text-default

@mixin danger-colors
  background-color: $color-danger
  color: $color-text-default

@mixin info-colors
  background-color: $color-info
  color: $color-text-default

@mixin light-warning-colors
  background-color: $color-warning
  color: #ffffff

//Sidebar width
$sidebar-width: 220px

// Boxed layout width
$boxed-width: 1200px

//Border radius for buttons
$btn-border-radius: 3px

//Sidebar width
$sidebar-width: 220px

// Boxed layout width
$boxed-width: 1200px
$boxed-background: $color-primary-background

//Border radius for buttons
$btn-border-radius: 3px

@import "typography"
@import "navigation"
@import "top_navigation"
@import "buttons"
@import "badgets_labels"
@import "elements"
@import "sidebar"
@import "base"
@import "pages"
@import "chart"
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default

$jumbotron-padding: 2rem !default
$jumbotron-bg: lighten($color-page-background, 20%) !default
$enable-rounded: true !default
@import "breakpoints"
@import "jumbotron"
// Stick main content higher to the top
.top-navigation
  .wrapper.wrapper-content
    padding: 0 0 40px
  .nav > li.active
    background: transparent

// Clear layout on print mode
@media print
  nav.navbar-static-side
    display: none

  body
    overflow: visible !important

  #page-wrapper
    margin: 0

.dashboard
  .dashboard-title
    border-top: 0
    padding: 15px 20px
    h1
      color: $color-yellow
    p
      color: $color-yellow

.text-green
  color: $color-green

.text-danger
  color: $color-danger

.text-warning
  color: $color-warning

.chart-legend
  list-style-type: none
  margin-top: 5px
  text-align: center
  li
    display: inline-block
    white-space: nowrap
    position: relative
    margin-bottom: 4px
    border-radius: 5px
    padding: 2px 8px 2px 28px
    font-size: smaller
    cursor: default
    span
      display: block
    position: absolute
    left: 0
    top: 0
    width: 20px
    height: 20px
    border-radius: 5px

.ibox
  @include widget

.activity-stream
  @include widget
  .ibox
    .ibox-title
      color: $dashboard-title-color

.stream
  position: relative
  padding: 10px 0

  &:first-child .stream-badge:before
    top: 10px

  &:last-child .stream-badge:before
    height: 30px

  .stream-badge
    width: 50px
    i
      border: 1px solid $color-ibox-border
      border-radius: 50%
      padding: 6px
      color: lighten($color-text-default, 10%)
      position: absolute
      background-color: #ffffff
      left: 8px

      &.fa-circle
        color: lighten($color-text-default, 40%)

      &.bg-success
        color: #ffffff
        background-color: $color-success
        border-color: $color-success

      &.bg-primary
        color: #ffffff
        background-color: $color-primary-background
        border-color: $color-primary-background

      &.bg-warning
        color: #ffffff
        background-color: $color-warning
        border-color: $color-warning

      &.bg-info
        color: #ffffff
        background-color: $color-info
        border-color: $color-info

      &.bg-danger
        color: #ffffff
        background-color: $color-danger
        border-color: $color-danger

    &:before
      content: ''
      width: 1px
      background-color: $color-ibox-border
      position: absolute
      top: 0
      bottom: 0
      left: 20px

  .stream-info
    font-size: 12px
    margin-bottom: 5px

    img
      border-radius: 50%
      width: 18px
      height: 18px
      margin-right: 2px
      margin-top: -4px

    .date
      color: lighten($color-text-default, 20%)
      font-size: 80%

  .stream-panel
    margin-left: 55px

.stream-small
  margin: 10px 0

  .label
    padding: 2px 6px
    margin-right: 2px

.muted
  font-weight: 100

.manifest-panel
  canvas
    color: $color-text-default
    height: 300px

code
  color: inherit
  background-color: inherit
  font-family: $mono-font-stack
  font-weight: lighter

pre
  background-color: $color-primary-background
  font-family: $mono-font-stack
  font-weight: lighter
  color: $color-text-default
  code
    color: $color-text-default
    font-family: $mono-font-stack
    font-size: 9px


.snapshot
  font-size: 10px

.file-change-list li
  font-family: monospace
  //padding: 5px 10px
  font-size: 9px

$table-striped-order: odd !default
$table-accent-bg: lighten($color-page-background, 20%)
.table-striped
  tbody
    tr:nth-of-type(#{$table-striped-order})
      background-color: $table-accent-bg

.panel
  margin-bottom: 20px
  background-color: $boxed-background
  border: 1px solid transparent
  border-radius: 4px
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)

.panel-body
  background-color: $boxed-background
  padding: 15px

.panel-heading
  padding: 10px 15px
  border-bottom: 1px solid transparent
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  > .dropdown .dropdown-toggle
    color: inherit

.panel-title
  margin-top: 0
  margin-bottom: 0
  font-size: 16px
  color: inherit

.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a
  color: inherit

.panel-footer
  padding: 10px 15px
  background-color: #f5f5f5
  border-top: 1px solid #ddd
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px

.panel > .list-group, .panel > .panel-collapse > .list-group
  margin-bottom: 0

.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item
  border-width: 1px 0
  border-radius: 0

.panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child
  border-top: 0
  border-top-left-radius: 3px
  border-top-right-radius: 3px

.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child
  border-bottom: 0
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px

.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child
  border-top-left-radius: 0
  border-top-right-radius: 0


.panel-heading + .list-group .list-group-item:first-child
  border-top-width: 0

.panel-default
  border-color: #ddd
  > .panel-heading
    color: $color-text-default
    background-color: $boxed-background
    border-color: $color-ibox-border
  > .panel-heading + .panel-collapse > .panel-body
    border-top-color: #ddd
  > .panel-heading .badge
    color: #f5f5f5
    background-color: $boxed-background
  > .panel-footer + .panel-collapse > .panel-body
    border-bottom-color: #ddd

.panel-primary
  border-color: #337ab7
  > .panel-heading
    color: #fff
    background-color: #337ab7
    border-color: #337ab7
  > .panel-heading + .panel-collapse > .panel-body
    border-top-color: #337ab7
  > .panel-heading .badge
    color: #337ab7
    background-color: #fff
  > .panel-footer + .panel-collapse > .panel-body
    border-bottom-color: #337ab7


