*.class
*.iml
*.jar
.hg/
.hgignore
.idea.DS_Store
.idea//target
.sass-cache/
/.lein-*
.nrepl-port
/checkouts
/classes
/lib
/pom.xml
/target
node_modules/
out/
pom.xml
pom.xml.asc
test/test-repo/
test/dependency-test-repo/
target/
.idea/
\#*
.\#*
.lein-repl-history
checkouts/
local-*