<div class="wrapper wrapper-content" ng-controller="NewDashboardController">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Dashboard</h5>

        </div>
        <div class="ibox-content">
          <form class="form-horizontal" name="DashboardForm">
            <p>Describe your dashboard and give it a unique name.</p>
            <div class="form-group"><label class="col-lg-2 control-label">Name</label>

              <div class="col-lg-10"><input type="text"
                                            placeholder="Dashboard"
                                            class="form-control"
                                            ng-model="dashboard.name" required
                                            name="dashboardName"
                                            ng-minlength="3"
                                            ng-maxlength="100"
                                            ng-pattern="dashboardNameRegex">
                <span class="help-block m-b-none">Dashboard names are alpha-numeric and can include - or _.</span>
                <span class="help-block m-b-none">A Unique dashboard name is required. Names are between 3 and 100 characters
                and may contain letters, numbers underscores (_) or minus (-) </span>

                <div ng-show="DashboardForm.dashboardName.$invalid">
                  <div class="alert alert-danger" ng-show="DashboardForm.dashboardName.$dirty">
                    <span ng-show="DashboardForm.dashboardName.$error.minlength"> Too short (<3)!</span>
                    <span ng-show="DashboardForm.dashboardName.$error.maxlength"> Too long!</span>
                    <span ng-show="DashboardForm.dashboardName.$error.pattern"> contain letters, numbers underscores (_) or minus (-)</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group"><label class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10"><input type="text"
                                            name="Title"
                                            class="form-control"
                                            ng-model="dashboard.title"></div>
            </div>

            <div class="form-group"><label class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10"><textarea placeholder="Description"
                                               class="form-control"
                                               ng-model="dashboard.description"></textarea></div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Dashboard Panels JSON</label>
              <div class="col-lg-10"><textarea placeholder="[]"
                                               class="form-control"
                                               ng-model="dashboard.definition"></textarea></div>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-sm btn-primary" type="submit" ng-click="saveDashboard()">Create Dashboard</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
