<table class="table">
  <tbody>
  <tr>
    <td>id</td>
    <td>{{gh.id}}</td>
  </tr>

  <tr>
    <td>name</td>
    <td>{{gh.name}}</td>
  </tr>
  <tr>
    <td>Full Name</td>
    <td>{{gh.full_name}}</td>
  </tr>
  <tr>
    <td>private</td>
    <td>{{gh.private}}</td>
  </tr>

  <tr>
    <td>html url</td>
    <td>{{gh.html_url}}</td>
  </tr>
  <tr>
    <td>description</td>
    <td>{{gh.description}}</td>
  </tr>
  <tr>
    <td>fork</td>
    <td>{{gh.fork}}</td>
  </tr>
  <tr>
    <td>url</td>
    <td>{{gh.url}}</td>
  </tr>
  <tr>
    <td>forks url</td>
    <td>{{gh.forks_url}}</td>
  </tr>
  <tr>
    <td>Keys url</td>
    <td>{{gh.keys_url}}</td>
  </tr>
  <tr>
    <td>Collaborators url</td>
    <td>{{gh.collaborators_url}}</td>
  </tr>
  <tr>
    <td>Teams url</td>
    <td>{{gh.teams_url}}</td>
  </tr>
  <tr>
    <td>Hooks url</td>
    <td>{{gh.hooks_url}}</td>
  </tr>
  <tr>
    <td>Issue events url</td>
    <td>{{gh.issue_events_url}}</td>
  </tr>
  <tr>
    <td>Events url</td>
    <td>{{gh.events_url}}</td>
  </tr>
  <tr>
    <td>Assignees url</td>
    <td>{{gh.assignees_url}}</td>
  </tr>
  <tr>
    <td>Branches url</td>
    <td>{{gh.branches_url}}</td>
  </tr>
  <tr>
    <td>Tags url</td>
    <td>{{gh.tags_url}}</td>
  </tr>
  <tr>
    <td>Blobs url</td>
    <td>{{gh.blobs_url}}</td>
  </tr>
  <tr>
    <td>Git tags url</td>
    <td>{{gh.git_tags_url}}</td>
  </tr>
  <tr>
    <td>Git refs url</td>
    <td>{{gh.git_refs_url}}</td>
  </tr>
  <tr>
    <td>Trees url</td>
    <td>{{gh.trees_url}}</td>
  </tr>
  <tr>
    <td>Statuses url</td>
    <td>{{gh.statuses_url}}</td>
  </tr>
  <tr>
    <td>Language URL</td>
    <td>{{gh.languages_url}}</td>
  </tr>
  <tr>
    <td>Stargazers url</td>
    <td>{{gh.stargazers_url}}</td>
  </tr>
  <tr>
    <td>Contributors URL</td>
    <td>{{gh.contributors_url}}</td>
  </tr>
  <tr>
    <td>Subscribers URL</td>
    <td>{{gh.subscribers_url}}</td>
  </tr>
  <tr>
    <td>Subscription URL</td>
    <td>{{gh.subscription_url}}</td>
  </tr>
  <tr>
    <td>Commits URL</td>
    <td>{{gh.commits_url}}</td>
  </tr>
  <tr>
    <td>Git comments URL</td>
    <td>{{gh.git_commits_url}}</td>
  </tr>
  <tr>
    <td>Comments URL</td>
    <td>{{gh.comments_url}}</td>
  </tr>
  <tr>
    <td>Issue comment URL</td>
    <td>{{gh.issue_comment_url}}</td>
  </tr>
  <tr>
    <td>Contents URL</td>
    <td>{{gh.contents_url}}</td>
  </tr>
  <tr>
    <td>Compare URL</td>
    <td>{{gh.compare_url}}</td>
  </tr>
  <tr>
    <td>Merges URL</td>
    <td>{{gh.merges_url}}</td>
  </tr>
  <tr>
    <td>Archive URL</td>
    <td>{{gh.archive_url}}</td>
  </tr>
  <tr>
    <td>Downloads URL</td>
    <td>{{gh.downloads_url}}</td>
  </tr>
  <tr>
    <td>Issues URL</td>
    <td>{{gh.issues_url}}</td>
  </tr>
  <tr>
    <td>Pulls URL</td>
    <td>{{gh.pulls_url}}</td>
  </tr>
  <tr>
    <td>Milestones URL</td>
    <td>{{gh.milestones_url}}</td>
  </tr>
  <tr>
    <td>Notifications URL</td>
    <td>{{gh.notifications_url}}</td>
  </tr>
  <tr>
    <td>Labels URL</td>
    <td>{{gh.labels_url}}</td>
  </tr>
  <tr>
    <td>Releases URL</td>
    <td>{{gh.releases_url}}</td>
  </tr>
  <tr>
    <td>Deployments URL</td>
    <td>{{gh.deployments_url}}</td>
  </tr>
  <tr>
    <td>Created at</td>
    <td>{{gh.created_at}}</td>
  </tr>
  <tr>
    <td>Updated at</td>
    <td>{{gh.updated_at}}</td>
  </tr>
  <tr>
    <td>Pushed at</td>
    <td>{{gh.pushed_at}}</td>
  </tr>
  <tr>
    <td>Git URL</td>
    <td>{{gh.git_url}}</td>
  </tr>
  <tr>
    <td>SSH URL</td>
    <td>{{gh.ssh_url}}</td>
  </tr>
  <tr>
    <td>Clone URL</td>
    <td>{{gh.clone_url}}</td>
  </tr>
  <tr>
    <td>SVN URL</td>
    <td>{{gh.svn_url}}</td>
  </tr>
  <tr>
    <td>Homepage</td>
    <td>{{gh.homepage}}</td>
  </tr>
  <tr>
    <td>size</td>
    <td>{{gh.size}}</td>
  </tr>
  <tr>
    <td>Stargazers count</td>
    <td>{{gh.stargazers_count}}</td>
  </tr>
  <tr>
    <td>Watchers count</td>
    <td>{{gh.watchers_count}}</td>
  </tr>
  <tr>
    <td>Language</td>
    <td>{{gh.language}}</td>
  </tr>
  <tr>
    <td>has issues</td>
    <td>{{gh.has_issues}}</td>
  </tr>
  <tr>
    <td>has projects</td>
    <td>{{gh.has_projects}}</td>
  </tr>
  <tr>
    <td>has downloads</td>
    <td>{{gh.has_downloads}}</td>
  </tr>
  <tr>
    <td>has wiki</td>
    <td>{{gh.has_wiki}}</td>
  </tr>
  <tr>
    <td>has pages</td>
    <td>{{gh.has_pages}}</td>
  </tr>
  <tr>
    <td>forks count</td>
    <td>{{gh.forks_count}}</td>
  </tr>
  <tr>
    <td>mirror url</td>
    <td>{{gh.mirror_url}}</td>
  </tr>
  <tr>
    <td>archived</td>
    <td>{{gh.archived}}</td>
  </tr>
  <tr>
    <td>Open issues count</td>
    <td>{{gh.open_issues_count}}</td>
  </tr>
  <tr>
    <td>Network count</td>
    <td>{{gh.network_count}}</td>
  </tr>
  <tr>
    <td>Subscribers count</td>
    <td>{{gh.subscribers_count}}</td>
  </tr>
  <tr>
    <td>Forks</td>
    <td>{{gh.forks}}</td>
  </tr>
  <tr>
    <td>Open issues</td>
    <td>{{gh.open_issues}}</td>
  </tr>
  <tr>
    <td>Watchers</td>
    <td>{{gh.watchers}}</td>
  </tr>
  <tr>
    <td>Default branch</td>
    <td>{{gh.default_branch}}</td>
  </tr>

  <tr>
    <td>Owner</td>
    <td>
      <table class="table">
        <tbody>
        <tr>
          <td>Login</td>
          <td>{{gh.owner.login}}</td>
        </tr>
        <tr>
          <td>id</td>
          <td>{{gh.owner.id}}</td>
        </tr>
        <tr>
          <td>Avatar</td>
          <td>{{gh.owner.avatar_url}}</td>
        </tr>
        <tr>
          <td>Avatar id</td>
          <td>{{gh.owner.gravatar_id}}</td>
        </tr>
        <tr>
          <td>Owner URL</td>
          <td>{{gh.owner.url}}</td>
        </tr>
        <tr>
          <td>HTML URL</td>
          <td>{{gh.owner.html_url}}</td>
        </tr>
        <tr>
          <td>Followers URL</td>
          <td>{{gh.owner.followers_url}}</td>
        </tr>
        <tr>
          <td>Following URL</td>
          <td>{{gh.owner.following_url}}</td>
        </tr>
        <tr>
          <td>Gists URL</td>
          <td>{{gh.owner.gists_url}}</td>
        </tr>
        <tr>
          <td>Starred URL</td>
          <td>{{gh.owner.starred_url}}</td>
        </tr>
        <tr>
          <td>Subscriptions URL</td>
          <td>{{gh.owner.subscriptions_url}}</td>
        </tr>
        <tr>
          <td>Organizations URL</td>
          <td>{{gh.owner.organizations_url}}</td>
        </tr>
        <tr>
          <td>Repos URL</td>
          <td>{{gh.owner.repos_url}}</td>
        </tr>
        <tr>
          <td>Events URL</td>
          <td>{{gh.owner.events_url}}</td>
        </tr>
        <tr>
          <td>Received events URL</td>
          <td>{{gh.owner.received_events_url}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{gh.owner.type}}</td>
        </tr>
        <tr>
          <td>Site Admin</td>
          <td>{{gh.owner.site_admin}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>License</td>
    <td>
      <table class="table">
        <tbody>
        <tr>
          <td>Key</td>
          <td>{{gh.license.key}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{gh.license.name}}</td>
        </tr>
        <tr>
          <td>SPDX ID</td>
          <td>{{gh.license.spdx_id}}</td>
        </tr>
        <tr>
          <td>License URL</td>
          <td>{{gh.license.url}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>Organization</td>
    <td>
      <table class="table">
        <tbody>
        <tr>
          <td>Login</td>
          <td>{{gh.organization.login}}</td>
        </tr>
        <tr>
          <td>ID</td>
          <td>{{gh.organization.id}}</td>
        </tr>
        <tr>
          <td>Avatar URL</td>
          <td>{{gh.organization.avatar_url}}</td>
        </tr>
        <tr>
          <td>Gravatar ID</td>
          <td>{{gh.organization.gravatar_id}}</td>
        </tr>
        <tr>
          <td>Organization URL</td>
          <td>{{gh.organization.url}}</td>
        </tr>
        <tr>
          <td>HTML URL</td>
          <td>{{gh.organization.html_url}}</td>
        </tr>
        <tr>
          <td>Followers URL</td>
          <td>{{gh.organization.followers_url}}</td>
        </tr>
        <tr>
          <td>Following URL</td>
          <td>{{gh.organization.following_url}}</td>
        </tr>
        <tr>
          <td>Gists URL</td>
          <td>{{gh.organization.gists_url}}</td>
        </tr>
        <tr>
          <td>Starred URL</td>
          <td>{{gh.organization.starred_url}}</td>
        </tr>
        <tr>
          <td>Subscrptions URL</td>
          <td>{{gh.organization.subscriptions_url}}</td>
        </tr>
        <tr>
          <td>Organizations URL</td>
          <td>{{gh.organization.organizations_url}}</td>
        </tr>
        <tr>
          <td>Repos URL</td>
          <td>{{gh.organization.repos_url}}</td>
        </tr>
        <tr>
          <td>Events URL</td>
          <td>{{gh.organization.events_url}}</td>
        </tr>
        <tr>
          <td>Received events URL</td>
          <td>{{gh.organization.received_events_url}}</td>
        </tr>
        <tr>
          <td>Organization type</td>
          <td>{{gh.organization.type}}</td>
        </tr>
        <tr>
          <td>Site Admin</td>
          <td>{{gh.organization.site_admin}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>




