<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">

        <div class="profile-element" uib-dropdown>
          <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                            </span>
          </a>
          <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
            <li><a href="">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>

      </li>

      <li ui-sref-active="active">
        <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="index.crawlers"><i class="fa fa-cogs"></i> <span class="nav-label">Crawlers</span></a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="index.build-servers"><i class="fab fa-whmcs"></i> <span class="nav-label">Build Systems</span></a>
      </li>

      <li ng-class="{active: $state.includes('index.new*')}">
        <a href="#"><i class="fa fa-plus-circle"></i> <span class="nav-label">Add</span> <span class="fa fa-arrow-left"></span></a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('index.new*')}">
          <li>
            <a ui-sref="index.new-github-repository"><i class="fab fa-github"></i> Github Repo</a>
          </li>
          <li>
            <a ui-sref="index.new-jenkins-server"><i class="fab fa-jenkins"></i> Jenkins Server</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
