<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
      </li>

      <li ui-sref-active="active">
        <a ui-sref="index.main"><i class="fa fa-wrench"></i> <span class="nav-label">Admin</span> </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="index.crawlers"><i class="fa fa-cogs"></i> <span class="nav-label">Source Collectors</span></a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="index.build-servers"><i class="fab fa-whmcs"></i> Build Collectors</a>
      </li>

      <li>
        <a ui-sref="index.new-github-collector"><i class="fab fa-github"></i> Add Github Account</a>
      </li>

      <li>
        <a ui-sref="index.new-tfs-collector"><i class="fab fa-git"></i> Add TFS Account</a>
      </li>

      <li>
        <a ui-sref="index.new-jenkins-server"><i class="fab fa-jenkins"></i> Add Jenkins Server</a>
      </li>

      <li>
        <a ui-sref="index.new-github-repository"><i class="fab fa-git"></i> Add GitHub Repo</a>
      </li>
  </div>
</nav>
