<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <h1>
          {{main.helloText}}
        </h1>
        <small>
          {{main.descriptionText}}
        </small>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4">
      <div class="jumbotron">
        <h1><i class="fab fa-github"></i> GitHub</h1>
        <p>Add a GitHub account for collection.</p>
        <p><a ui-sref="index.new-github-collector" class="btn btn-primary btn-lg" role="button">Add Github Account</a>
        </p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="jumbotron">
        <h1><i class="fab fa-git"></i> TFS</h1>
        <p>Add a TFS account for collection.</p>
        <p><a ui-sref="index.new-tfs-collector" class="btn btn-primary btn-lg" role="button">Add TFS Account</a></p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="jumbotron">
        <h1><i class="fab fa-jenkins"></i> Jenkins</h1>
        <p>Add a Jenkins build server for analysis.</p>
        <p><a ui-sref="index.new-jenkins-server" class="btn btn-primary btn-lg" role="button">Add Jenkins Server</a></p>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="jumbotron">
        <h1><i class="fab fa-github"></i> Repository</h1>
        <p>Add a github repository for analysis.</p>
        <p><a ui-sref="index.new-github-repository" class="btn btn-primary btn-lg" role="button">Add Github Repo</a></p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="jumbotron">
        <h1><i class="fa fa-search"></i> Search Code</h1>
        <p>Add a <a href="https://searchcodeserver.com/">searchcode</a> server to provide searching through source code.</p>
        <p><a ui-sref="index.new-search-code-server" class="btn btn-primary btn-lg" role="button">Add Server</a></p>
      </div>
    </div>
  </div>
</div>
