<div class="row">
  <div class="col-lg-12">
    <div class="text-center m-t-lg">
      <h1>
        {{main.helloText}}
      </h1>
      <small>
        {{main.descriptionText}}
      </small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content text-center">
        <ul class="list-unstyled">
          <li>
            <label class="muted">Kuona API:</label>
            <small>{{ info.kuona_api.version }}</small>
            <label class="muted">Clojure:</label>
            <small>{{ info.clojure.version }}</small>
            <label class="muted">Elasticsearch:</label>
            <small>{{ info.elastic_search.name }}</small>
            <label class="muted">version</label>
            <small>{{ info.elastic_search.version.number }}</small>
            <label class="muted">lucene</label>
            <small>{{ info.elastic_search.version.lucene_version }}</small>
            <label class="muted">built</label>
            <small>{{ info.elastic_search.version.build_date | date:'yyyy-MM-dd' }}
            </small>
            <label class="muted">Cluster UUID:</label>
            <small>{{ info.elastic_search.cluster_uuid }}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Indices</h5>
      </div>
      <div class="ibox-content">

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Index</th>
            <th style="text-align:right;">Size (bytes)</th>
            <th style="text-align:right;">Document Count</th>
            <th style="text-align:right;">Deleted</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="index in indices">
            <td>{{index.name}}</td>
            <td style="text-align:right;">{{index.total.store.size_in_bytes}}</td>
            <td style="text-align:right;">{{index.total.docs.count}}</td>
            <td style="text-align:right;">{{index.total.docs.deleted}}</td>
            <td>
              <button class="btn btn-danger btn-circle" type="button" ng-click="rebuildIndex(index.name)">
                <i class="fas fa-recycle"></i>
              </button>
              <button class="btn btn-danger btn-circle" type="button" ng-click="deleteIndex(index.name)">
                <i class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-warning btn-circle" type="button" ng-if="index.settings.index.blocks.read_only_allow_delete === 'true'" ng-click="unlock(index.name)">
                <i class="fas fa-unlock"></i>
              </button>
              <button class="btn btn-success btn-circle" type="button" ng-if="index.settings.index.blocks.read_only_allow_delete === 'false'">
                <i class="fas fa-lock-open"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
