<div class="ibox dashboard">
  <div class="ibox-title">
    <h5>Most resent {{count}} commits</h5>
  </div>
  <div class="ibox-content">
    <div class="activity-stream">
      <div class="stream" ng-repeat="value in commits | orderBy : '-timestamp' | limitTo: count">
        <div class="stream-badge">
          <i class="{{value.icon}} bg-primary"></i>
        </div>
        <div class="stream-panel">
          <div class="stream-info">
            <p>
              <span class="date">{{value.timestamp | age}} ({{value.timestamp | date}})</span>
            </p>
            <a href="mailto:{{value.commit.email}}">
              <span>{{value.commit.author}}</span>
            </a>
          </div>
          {{value.commit.message}}<br/>
          Affected {{ value.commit.changed_files.length | number }} files
          <ul class="list-unstyled file-change-list">
            <li ng-repeat="f in value.commit.changed_files">{{f.path}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

