<div class="row border-bottom black-bg">
    <nav class="navbar navbar-static-top" role="navigation">

        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">Kuona</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Navigation <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">

                        <li ui-sref-active="active">
                            <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Home</span> </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="index.environment-dashboard"><i class="fa fa-gear"></i> <span class="nav-label">Environment Dashboard</span> </a>
                        </li>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
