<div class="row border-bottom white-bg">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
              class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <a href="/" class="navbar-brand">Kuona</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a href="/repositories.html"><span class="nav-label">Source Repositories</span> </a>
        </li>

        <li ui-sref-active="active">
          <a href="/valuestreams.html"><span class="nav-label">Value Streams</span> </a>
        </li>

        <li ui-sref-active="active">
          <a href="/query.html"><span class="nav-label">Query</span> </a>
        </li>

        <li ui-sref-active="active">
          <a href="/dashboards/index.html"><span class="nav-label">Dashboards</span> </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <a href="/admin/index.html"><span class="nav-label">Admin</span> </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
